<ion-header>
  <ion-toolbar>
    <ion-title>pokelist</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Nombre : {{pokeName}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="closeModal()">Cerrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
